
@{
    ViewBag.Title = "PaymentConfirm";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>@ViewBag.Message</h2>
<a href="@Url.Action("Index","User")" style="text-align:right; color:red; font-size:15px; margin-left:500px">Tiếp tục mua sắm</a>

