
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 style="text-align:center">  Xác Nhận Đơn Hàng </h2>
<h4 style="text-align:center; color: red">
    Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ cho quý khách vào thời gian
    sớm nhất và giao đúng tiến độ đơn hàng
</h4>
<p style="text-align:right">
    @Html.ActionLink("VỀ TRANG CHỦ", "Index1", "User")
</p>

