
@{
    Layout = null;
    //ViewBag.Title = "Pet";
    //Layout = "~/Views/Shared/Admin.cshtml";
}

<p style="color:red; font-weight:bold">Tổng số lượng khách hàng: @ViewBag.TongSoLuongKhachHang</p>
